<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>hang hoa</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous" />
<link rel="stylesheet" th:href="@{/css/goods.css}">
<link rel="stylesheet" th:href="@{/assets/css/themify-icons/themify-icons.css}" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<body>
	<div class="navbar-menu">
		<div class="menu" style="margin: 0 10%">
			<nav class="navbar navbar-expand-lg">
				<div class="container-fluid"
					style="background-color: #198754; border: 1px solid #198754; border-radius: 16px;">
					<button class="navbar-toggler" type="button"
						data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
						aria-controls="navbarTogglerDemo01" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
						<a class="navbar-brand" href="/trang_chu"
							style="font-weight: 600; color: #fff">TRANG
							CHỦ</a>
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item"><a class="nav-link active"
								aria-current="page" href="/hang-hoa"
								style="font-weight: 600; color: #fff">HÀNG
									HÓA</a></li>
							<li class="nav-item"><a class="nav-link active"
								aria-current="page" href="/customer"
								style="font-weight: 600; color: #fff">KHÁCH
									HÀNG</a></li>
							<li class="nav-item"><a class="nav-link active"
								aria-current="page" href="/hoa_don"
								style="font-weight: 600; color: #fff">HÓA
									ĐƠN</a></li>
							<li class="nav-item"><a class="nav-link active"
								aria-current="page" href = "/ban_hang"
								style="font-weight: 600; color: #fff">BÁN
									HÀNG</a></li>
						</ul>
						<a class="nav-link active" aria-current="page" href="/logout"
							style="font-weight: 600; color: #fff; margin-right: 20px">
							ĐĂNG XUẤT</a>
					</div>
				</div>
			</nav>
		</div>
	</div>
	<div class="content">
		<div class="sidebar">
			<span style="font-size: 24px; font-weight: 500">Hàng Hóa</span>
			<div class="group-product">
				<div class="name-group">Nhóm hàng</div>
				<a th:href="@{~/hang-hoa}" class="group-btn btn btn-success">Tất cả</a> 
				<a th:href="@{~/hang-hoa/{t} (t = 1)}" class="group-btn btn btn-success">Cá cảnh</a> 
				<a th:href="@{~/hang-hoa/{t} (t = 2)}" class="group-btn btn btn-success">Phụ Kiện</a> 
				<a th:href="@{~/hang-hoa/{t} (t = 3)}" class="group-btn btn btn-success">Thức Ăn</a>
			</div>

			<div class="add-product" style="border:none">
					<a th:href="@{~/product/{id} (id = -1)}"  class="btn btn-success col-lg-12">Thêm hàng hóa</a>
			</div>
		</div>

		<div class="slide-product">
			<div class="page-product">
				<table class="table-product">
					<thead>
						<tr
							style="background-color: #198754; color: #fff; margin-bottom: 50px;">
							<th>Mã sản phẩm</th>
							<th class="name-product">Tên sản phẩm</th>
							<th>Giá bán</th>
							<th>Số lượng</th>
							<th>Đã bán</th>
							<th>Hành động</th>
						</tr>
					</thead>
					<tbody class="list-product" style="font-size: 16px; color: #000">
						<tr th:each="product: ${goods}">
							<td class="id-pro" th:text = "${product.id}"></td>
							<td class="name-pro" th:text = "${product.name}"></td>
							<td class="price-pro" th:text = "${product.sales_price}"></td>
							<td class="quatity-pro" th:text = "${product.quantity}"></td>
							<td class = "itemsSold" th:text = "${product.amountSold}"></td>
							<td class="btn-pro">
                  				<a th:href="@{~/product/{id} (id = ${product.id})}"
								class="btn btn-success" style="width: 40%; padding: 0;"><i class="ti-pencil-alt"></i></a>
                  				<a th:href="@{~/product/deleteP/{id}(id = ${product.id})}" 
                  				class="btn btn-danger" style="width: 40%; padding: 0;"
                  				onclick = "return confirm('Bạn có muốn xóa sản phẩm này?')"><i class="ti-trash"></i></a>
                  			</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>
