<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <link rel="stylesheet" href="./css/login.css">
</head>
<body>
    <div class="background-login">
        <div class="background-login">
            
        </div>
        <form th:action="@{login}" method="post">
        	<p>${message}</p>
            <div class="login-box">
            <h2 style="color: #198754;">Đăng nhập</h2>
            <span style="color: #198754;">Email</span>
            <input class="login-email" type="text" placeholder="Email" name = "username" id="mail"/>
            <span style="color: #198754;">Mật khẩu </span>
            <input class="login-email" type="password" placeholder="Password" name = "password" id="pass"/>
            <input class="login-btn" type="submit" value="ĐĂNG NHẬP">
        </form>
	</div>
    </div>
    <script>
        document.getElementById("mail").value = "";
        document.getElementById("pass").value = "";
    </script>
</body>
</html>