body {
        background-color: #ffffff;
      }
      .content {
        display: flex;
        width: 70%;
        background-color: #e9e8e8;
        -webkit-box-shadow: 0 8px 6px -6px black;
        -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 8px 6px -6px black;
        font-weight: 600;
        color: #000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 6px;
      }
      .content .content-img {
        width: 50%;
        height: 550px;
        background-color: #e9e8e8;
        position: relative;
        border-radius: 6px;

      }
     .loca-img  {
      width: 80%;
      height: 80%;
      background-color: #198754;
      position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
     }
      .box-goods {
        width: 50%;
        height: 550px;
        position: absolute;
        
        
        padding-top: 3%;
        padding-left: 5%;
       
        display: block;
        border: none;
        border-radius: 6px;
        
        
      }

      .margin-height {
        margin-bottom: 15px;
        line-height: 15px;
        color:  #000;
      }
      .size-box {
        font-size: 20px;
        color:  #198754;
        width: 85%;
        border: none;
        border: 1px solid  #198754;
        border-radius: 5px;
      }
